<h1 class="prodTitles">
  Swansea in a Box
</h1>

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="../../../assets/imagery/Swansea in a Box.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <p class="lead">
              <span>£75</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>A box full of almost everything Swansea. Whether you want to send this to someone as a gift or to have something to remember, this intuitive box of goods are a must have to remind you of Swansea.</p>

            <!-- <form class="d-flex justify-content-left"> -->
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
              <!-- <button class="btn btn-primary btn-md my-0 p" type="submit">Buy Now -->
                <!-- <i class="fas fa-shopping-cart ml-1"></i> -->
                <!-- <a href="/add-to-cart/"></a>
                <a routerLink="/checkout"></a>
              </button> -->
              
            <div class="btn" [routerLink]="['/checkout']">
              <a>Buy Now</a> 
            </div>

            <!-- </form> -->

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-left wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-left">

          <h4 class="my-4 h4">What's Inside?</h4>

          <ul>
            <li>Rolled Poster of Gower Peninsula</li>
            <li>Hafod Cheddar Cheese</li>
            <li>"Now, in a minute" Mug</li>
            <li>Welsh Poker Cards</li>
            <li>Welsh Poker Chips</li>
            <li>Small Cwtch Pillow</li>
            <li>Croeso Welsh Slate for Door</li>
            <li>Minitaure Ornamental Dragon</li>
          </ul>

        </div>
        <!--Grid column-->

        <!-- <form class="d-flex justify-content-center"> -->
          <!-- Default input -->
          <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
          <!-- <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </button>
        </form> -->

      </div>
      <!--Grid row-->

      <br>

    </div>
  </main>
  <!--Main layout-->

